
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    background-color: #1A0B2E;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
    align-items: center;
    border-bottom: 1px solid blueviolet;
}
.m-icon{
    display: none;
}
.nav-div{
    display: flex;
    justify-content: space-around;
    color: white;
    gap:30px;
}
.navbar h2{
    color: white;
    border: 1ps solid black;
    font-weight: bold;
}
.linear{
    background:linear-gradient(to bottom,indigo,purple,yellow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom left,indigo,purple,yellow);
    color: white;
    border-radius: 35%;
    
}

.c-img{
    width: 350px;
    height:350px;
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    
    
}
.m-img{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    width:117px;
}
.h-write{
    text-align: center;
    position: relative;
    margin-top: 63vh;
}
.h-write h1{
    color: white;
    font-size: 60;
    font-weight: bold;
}
.h-write p{
    color: white;
    font-size: 16;
    
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;  
}

.spotify{
    
   background:linear-gradient(to left bottom,indigo,purple,yellow);
   color:white ;
   font-weight: bolder; 
   border-radius: 15%;
   height: 44px;
}
.spotify img{
    height: 20px;
    width: 20px;
}
.sub{
    background: transparent;
    border-radius: 15%;
    height: 44px;
    border:1px splid #00FF88;
    color:#00FF88;
}
.circle button{
    background-color:#00FF88 ;
    color: black;
    font-size: 18px;
    border-radius: 15%;
    height: 38px;
    
}
.container{
    text-align: center;
}
.container h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.container p{
    color: white;
    font-size: 16px;
    margin-left: 220px;
    margin-right: 220px;
}
.views{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 200px 120px 200px;
}
.one h1,.two h1,.three h1,.four h1{
    color:#00FF88;
    font-size: 48px;
}
.one p,.two p,.three p,.four p{
    color: white;
}
.layout h2{
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.layout-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "grid1 grid2 grid2"
                          "grid1 grid3 grid3"
                          "grid4 grid4 grid5";
    margin:40px 200px 120px 200px;
    
    color: white;
}
.grid1{grid-area: grid1;}
.grid2{grid-area: grid2;}
.grid3{grid-area: grid3;}
.grid4{grid-area: grid4;}
.grid5{grid-area: grid5;}
.layout-container  div{
    background:#351165 ;
    padding:25px;
    border-radius: 16px;
}
.layout-container h3{
    font-size: 24px;
    font-weight: bold;
}
.fea{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.ai{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px 200px 120px 200px;
    color: white;
    gap: 30px;
    
}
.ai img{
    width: 380px;
    height: 214px;
    border-radius: 15%;
}
.watch img{
    height: 20px;
    width: 20px;
}
.card1,.card2,.card3{
    background-color: #351165;
    border-radius: 15%;
    text-align: left;
    height:475px;
    width:420px;padding:10px 10px;

}
.ai h4{
    font-size: 24px;
    font-weight: bold;
}


.watch{
    color:#00FF88
}
.meet{
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.host-container{
    display: flex;
    gap: 24px;
    margin:40px 200px 120px 200px;
    background-color: #351165;
    height:280px;
    border-radius: 10%;
}
.h-img{
    margin-top: 40px;
    margin-left: 40px;
}
.write h4{
    font-size: 32px;
    font-weight: bold;
    color:white;
    text-align: left;
}
.write p{
    color:white;
    font-size: 16px;
    text-align: left;
}
.social{
    display: flex;gap:8px;
}
.social img{
    width:40px;
    height:40px;

}
.f-container{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    color: white;
    justify-content: center;
}
.f-container h2{
    font-size: 48px;
    font-weight: bold;

}
.f-icon{
    display: flex;gap:40px
}
.i1,.i2,.i3,.i4{
    display: flex;
    gap:2.5px ;
}
.f-icon img{
    width:24px;
    height: 24px;
}
.f-container p{
    color: #fafafa;
}

@media screen and (max-width: 768px){
    .navbar{
        justify-content: space-between;
        padding: 16px 20px;
    }
    .nav-div{
        display: none;
    }
    .navbar button{
        display: none;
    }
    .m-icon{
        display: block;
        margin-right: 20px;
    }
    .h-write{
        margin-top: 55vh;
        padding: 24px 20px;

    }
    .h-write h1{
        font-size: 36px;
    }
    .h-write p{
        font-size: 14px;
    }
    .container h1,.layout h2,.fea,.meet,.f-container h2{
        font-size: 32px;
    }
    .container p{
        margin-left: 20px;
        margin-right: 20px;
    }
    .views{
        padding:40px 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        justify-content: center;
        gap:40px;

    }
    .layout-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "grid1"
        "grid2"
        "grid3"
        "grid4"
        "grid5";
        margin:20px 20px 20px 20px;
    }
    .ai{
        flex-direction: column;
        margin: 20px 20x;
    }
    .ai h4{
        font-size: 20px;
    }
    .host-container{
        flex-direction: column;height: auto;
        margin: 20px;
        align-items: center;
    }
    .write h4{
        font-size: 24px;
    }
    .write{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding:10px 10px;
    }
    .social img{
        width:20px;
        height:20px;
    }
    .write p{
        font-size: 16px;
    }
    .foot{
        width:440px;
        height:248px;
    }
    .f-icon{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:16px;
        width:219px;
    }
    .foot p{
        font-size: 16px;
    
    }
}
    
